body {
    background-color: rgb(44, 44, 44);
}

#section__busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    gap: 16px;
}

#section__div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#span_titulo {
    color: white;
    font-size: 64px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#div__input {
    width: 400px;
    height: 20px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    font-size: 18px;
}

#div__button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 35px;
    border-radius: 5px;
}

.img__buttons {
    width: 20px;
    height: 20px;
}

#section__tareas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
}

.div__taskContainer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 16px;
    border: 2px solid rgb(100, 100, 100);
}