* {
    background-color: rgb(32, 32, 32);
}

#contenedor_principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#titulo_principal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

#contenedor_busqueda {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
}

.input_1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: aliceblue;
}

#id_1 {
    text-align: center;
}

#boton_buscar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    padding: 10px;
}
.contenedor_personajes {
    display: flex;
    flex-direction: column;
}
.contenedor_personaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.status_span {
    color: rgb(255, 255, 255);
}

.nombre_span {
    color: rgb(255, 255, 255);
}