body {
    background-color: rgb(0, 0, 0);
}

#contenedor_principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#titulo_principal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

#contenedor_busqueda {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
}

.input_1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: aliceblue;
}

#id_1 {
    text-align: center;
}

#boton_buscar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    padding: 10px;
}

#contenedor_personajes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.contenedor_personaje {
    background-color: rgb(101, 101, 101);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 10%;
}

.imagen_personaje {
    width: 150px;
    height: 150px;
    border-radius: 6px;
    margin-top: 10px;
}

span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


