body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: gray;
}

#body__header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#header__img {
    width: 100px;
    height: auto;
}

#section__search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
}

#input__section {
    width: 100%;
    height: 20px;
    border-radius: 8px;
    border: 2px solid rgb(229, 92, 38);
    padding: 8px;
    font-size: 16px;
}

#section__button {
    margin-left: 8px;
    height: 36px;
    border-radius: 5px;    
    background-color: rgb(229, 92, 38);
    color: white;
    border: none;
}

#section__button:hover {
    background-color: rgb(200, 70, 20);
    cursor: pointer;
}

#main__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
}

.product__card {
    background-color: white;
    color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-label {
    display: block;
    margin-top: 10px;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
#edit-form .stock-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#edit-form .stock-container label {
    margin-top: 0;
    margin-right: 10px;
}

.form-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ff5100;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.div__buttons {
    display: flex;
    justify-content: space-around;
}

.button__edit {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.button__delete {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}