body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: gray;
}

#body__header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#header__img {
    width: 100px;
    height: auto;
}

#section__search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
}

#input__section {
    width: 100%;
    height: 20px;
    border-radius: 8px;
    border: 2px solid rgb(229, 92, 38);
    padding: 8px;
    font-size: 16px;
}

#section__button {
    margin-left: 8px;
    height: 36px;
    border-radius: 5px;    
    background-color: rgb(229, 92, 38);
    color: white;
    border: none;
}

#section__button:hover {
    background-color: rgb(200, 70, 20);
    cursor: pointer;
}

#main__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
}