body {
    background-color: rgb(0, 0, 0);
}

#contenedor_principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#titulo_principal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

#contenedor_busqueda {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
}

#input_busqueda {
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: aliceblue;
}

#id_1 {
    text-align: center;
}

#boton_buscar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    padding: 10px;
}

#contenedor_personajes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
}

.contenedor_personaje {
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding: 10%;
    padding-bottom: 20%;
    border: 2px solid rgb(94, 94, 94);
}

.imagen_personaje {
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
}

.nombre_span {
    font-weight: bold;
    font-size: 18px;
}

span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



